<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

<h1>Invite Page</h1>

</body>

<script>
    const params = new URL(window.location.toString()).searchParams

    const referralCode = params.get('referralCode')
    const aTag = document.createElement('a')

    window.localStorage.setItem('referralCode', referralCode)

    aTag.href = window.location.href
    aTag.click()
</script>

</html>
