<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

<h1>Invite Page {{title}}</h1>

</body>

<script>
    function getMobileOperatingSystem() {
        const userAgent = navigator.userAgent || navigator.vendor || window.opera;

        if (/android/i.test(userAgent)) {
            return "Android";
        }

        if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
            return "iOS";
        }

        return "unknown";
    }

    window.addEventListener('load', () => {
        const params = new URL(window.location.toString()).searchParams

        const managerCode = params.get("managerCode")
        const referralCode = params.get('referralCode')


        const platform = getMobileOperatingSystem()
        if (platform !== "unknown") {
            const linkStore = new URL(platform === "Android" ? 'https://play.google.com/store/apps/details?id=com.affina.agency' : 'https://apps.apple.com/vn/app/affina-pro/id6444879374')

            if (managerCode) {
                window.localStorage.setItem('managerCode', managerCode)
                linkStore.searchParams.set('managerCode', managerCode)
            }

            if (referralCode) {
                window.localStorage.setItem('referralCode', referralCode)
                linkStore.searchParams.set('referralCode', referralCode)
            }

            window.location.href = linkStore.toString()
        }

    })
</script>

</html>
